In [77]:
import pandas as pd

In [86]:
excelfile = pd.read_excel(open('/home/becode/Desktop/Dragonyte/venv/Data/Data_dictionary.xlsx', 'rb'), sheet_name='Sheet1')

In [80]:
print(len(excelfile))
print(type(excelfile))
excelfile.describe()

46
<class 'pandas.core.frame.DataFrame'>

               Sheet Field         Definition
count             46    46                 46
unique             6    24                 30
top     Market_Sizes    Id  ID of the country
freq              15     3                  3

In [87]:
excelfile = pd.read_excel(open('/home/becode/Desktop/Dragonyte/venv/Data/Data_dictionary.xlsx', 'rb'), index_col=False, dtype=str)
excelfile.head()

            Sheet     Field                    Definition
0      Categories        Id            ID of the category
1      Categories      Name          Name of the category
2  Channel_Volume  Location             ID of the country
3  Channel_Volume  Industry          Name of the industry
4  Channel_Volume   Edition  Year of published data: 2022

In [94]:
group = excelfile.groupby(['Sheet', 'Field'])[ 'Definition']
group.head()

0                                    ID of the category
1                                  Name of the category
2                                     ID of the country
3                                  Name of the industry
4                          Year of published data: 2022
5                               Name of the subcategory
6     Place of the subcategory in the subcategory hi...
7                               "Off-trade Volume" only
8     Name of the distribution channel, how the fina...
9     Place of the outlet in the outlet hierarchy (1...
10    In thousands or millions of litres for the Volume
11                               Year of the sale: YYYY
12                         Year formatted as 31/12/YYYY
13                                     Number of [Unit]
14                                 Name of the category
15                                    ID of the country
16                                 Name of the industry
17                                ID of the Subcategory
18    Place of the subcategory in the subcateogory h...
19                                  "Total Volume" only
20                                  Name of the company
21    In thousands or millions of litres for the Volume
22                                4 figures of the year
23                         Year formatted as 31/12/YYYY
24                                          Year - 2016
25                                     Number of [Unit]
26                                    ID of the country
27                                               Region
28                                          Location ID
29                                 Name of the industry
30                                ID of the Subcategory
31    Place of the subcategory in the subcateogory h...
32             Total Value RSP (Retail Sale Price) only
33                                         USD Millions
34    "Historic Constant 2021 Prices, Forecast Const...
35    "Historic Fixed 2021 Exchange Rates, Forecast ...
36                                4 figures of the year
37                         Year formatted as 31/12/YYYY
38                                     Number of [Unit]
39                                     Number of litres
40                                          Year - 2016
41                                          Year - 2022
42                         Year of published data: 2022
43                                ID of the subcategory
44                                   ID of the category
45                                  Name of subcategory
Name: Definition, dtype: object

In [82]:
excelfile.columns
excelfile['Sheet'].dtype
for var in excelfile.columns:
    excelfile[var] = excelfile[var].astype('string')
excelfile.dtypes

Sheet         string
Field         string
Definition    string
dtype: object

In [83]:
excelfile.to_csv('Data/Data_dictionary.csv', index=False)